<script>
    function  changeActive(id) {
        $("#list li").each(function () {
            $(this).addClass("active");
        });
        $('#li' + id).removeClass("active");
        switch (id) {
            case ('1'):
                var ca1 = document.getElementById("co1");
                ca1.style.webkitTransform = "translateY(0px)";
                var ca2 = document.getElementById("co2");
                ca2.style.webkitTransform = "translateY(350px)";
                var ca3 = document.getElementById("co3");
                ca3.style.webkitTransform = "translateY(700px)";
                var ca4 = document.getElementById("co4");
                ca4.style.webkitTransform = "translateY(1050px)";
                var ca5 = document.getElementById("co5");
                ca5.style.webkitTransform = "translateY(1400px)";
                var ca6 = document.getElementById("co6");
                ca6.style.webkitTransform = "translateY(1750px)";
                var ca7 = document.getElementById("co7");
                ca7.style.webkitTransform = "translateY(2000px)";
                break;
            case ('2'):
                var cb1 = document.getElementById("co1");
                cb1.style.webkitTransform = "translateY(-350px)";
                var cb2 = document.getElementById("co2");
                cb2.style.webkitTransform = "translateY(0px)";
                var cb3 = document.getElementById("co3");
                cb3.style.webkitTransform = "translateY(350px)";
                var cb4 = document.getElementById("co4");
                cb4.style.webkitTransform = "translateY(700px)";
                var cb5 = document.getElementById("co5");
                cb5.style.webkitTransform = "translateY(1050px)";
                var cb6 = document.getElementById("co6");
                cb6.style.webkitTransform = "translateY(1400px)";
                var cb7 = document.getElementById("co7");
                cb7.style.webkitTransform = "translateY(1750px)";
                break;
            case ('3'):
                var cc1 = document.getElementById("co1");
                cc1.style.webkitTransform = "translateY(-700px)";
                var cc2 = document.getElementById("co2");
                cc2.style.webkitTransform = "translateY(-350px)";
                var cc3 = document.getElementById("co3");
                cc3.style.webkitTransform = "translateY(0px)";
                var cc4 = document.getElementById("co4");
                cc4.style.webkitTransform = "translateY(350px)";
                var cc5 = document.getElementById("co5");
                cc5.style.webkitTransform = "translateY(700px)";
                var cc6 = document.getElementById("co6");
                cc6.style.webkitTransform = "translateY(1050px)";
                var cc7 = document.getElementById("co7");
                cc7.style.webkitTransform = "translateY(1400px)";
                break;
            case ('4'):
                var cd1 = document.getElementById("co1");
                cd1.style.webkitTransform = "translateY(-1050px)";
                var cd2 = document.getElementById("co2");
                cd2.style.webkitTransform = "translateY(-700px)";
                var cd3 = document.getElementById("co3");
                cd3.style.webkitTransform = "translateY(-350px)";
                var cd4 = document.getElementById("co4");
                cd4.style.webkitTransform = "translateY(0px)";
                var cd5 = document.getElementById("co5");
                cd5.style.webkitTransform = "translateY(350px)";
                var cd6 = document.getElementById("co6");
                cd6.style.webkitTransform = "translateY(700px)";
                var cd7 = document.getElementById("co7");
                cd7.style.webkitTransform = "translateY(1050px)";
                break;
            case ('5'):
                var ce1 = document.getElementById("co1");
                ce1.style.webkitTransform = "translateY(-1400px)";
                var ce2 = document.getElementById("co2");
                ce2.style.webkitTransform = "translateY(-1050px)";
                var ce3 = document.getElementById("co3");
                ce3.style.webkitTransform = "translateY(-700px)";
                var ce4 = document.getElementById("co4");
                ce4.style.webkitTransform = "translateY(-350px)";
                var ce5 = document.getElementById("co5");
                ce5.style.webkitTransform = "translateY(0px)";
                var ce6 = document.getElementById("co6");
                ce6.style.webkitTransform = "translateY(350px)";
                var ce7 = document.getElementById("co7");
                ce7.style.webkitTransform = "translateY(700px)";
                break;
            case ('6'):
                var cf1 = document.getElementById("co1");
                cf1.style.webkitTransform = "translateY(-1750px)";
                var cf2 = document.getElementById("co2");
                cf2.style.webkitTransform = "translateY(-1400px)";
                var cf3 = document.getElementById("co3");
                cf3.style.webkitTransform = "translateY(-1050px)";
                var cf4 = document.getElementById("co4");
                cf4.style.webkitTransform = "translateY(-700px)";
                var cf5 = document.getElementById("co5");
                cf5.style.webkitTransform = "translateY(-350px)";
                var cf6 = document.getElementById("co6");
                cf6.style.webkitTransform = "translateY(0px)";
                var cf7 = document.getElementById("co7");
                cf7.style.webkitTransform = "translateY(350px)";
                break;
            case ('7'):
                var cg1 = document.getElementById("co1");
                cg1.style.webkitTransform = "translateY(-2000px)";
                var cg2 = document.getElementById("co2");
                cg2.style.webkitTransform = "translateY(-1750px)";
                var cg3 = document.getElementById("co3");
                cg3.style.webkitTransform = "translateY(-1400px)";
                var cg4 = document.getElementById("co4");
                cg4.style.webkitTransform = "translateY(-1050px)";
                var cg5 = document.getElementById("co5");
                cg5.style.webkitTransform = "translateY(-700px)";
                var cg6 = document.getElementById("co6");
                cg6.style.webkitTransform = "translateY(-350px)";
                var cg7 = document.getElementById("co7");
                cg7.style.webkitTransform = "translateY(0px)";
                break;

            default:
                break;


        }
    }
</script>