{extend name="public/base" /}
{block name="header"}

{/block}
{block name="menu"}
{/block}
{block name="content"}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    {$menu}
    <span class="c-gray en">&gt;</span>
    {$menuSon}
    <span class="c-gray en">&gt;</span>
    {$menuSun}
    <span class="c-gray en">&gt;</span>
    {$menuSunf}
   <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
<div class="Hui-article">
    <article class="cl pd-20">
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l"> <a href="javascript:;" onclick="item_add('{$banner_id}')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加轮播条</a> </span>
            <span class="r">共有数据：<strong>{$count}</strong> 条</span>
        </div>
        <table class="table table-border table-bordered table-bg">
            <thead>
            <tr>
                <th scope="col" colspan="9">{$menuSunf}</th>
            </tr>

            <tr class="text-c">
                <th width="40">ID</th>
                <th >图片</th>
                <th>关联产品</th>
                <th >操作</th>
            </tr>

            </thead>
            <tbody>
            {foreach name="item_list" item="it"}
            <tr class="text-c">
                <td>{$it.id}</td>
                <td><a title="更换" href="javascript:;" onclick="item_picture('{$it.id}')"><img src="{$it.images.img_url}" width="180" height="100"></a></td>
                <td>{$it.product.brand}.{$it.product.name}<a title="item" href="javascript:;" onclick="item_product('{$it.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a></td>
                <td class="td-manage"> <a title="删除" href="javascript:;" onclick="item_del(this,'{$it.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </article>
</div>

{/block}

{block name="script"}
<script type="text/javascript">

    /*管理员-删除*/
    function item_del(obj,id){
        layer.confirm('确认要删除吗？',{icon:3},function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.get("{:url('banner/item_del')}",{id:id});
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }
    /*管理员-编辑*/
    function item_add(id){
        layer.open({
            type: 2,
            title: '添加轮播条',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['100%', '100%'],
            content: '/admin/banner/item_add?id='+id
        });
    }

    function item_product(id){
        layer.open({
            type: 2,
            title: '更换产品',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['80%', '400px'],
            content: '/admin/banner/item_product?id='+id
        });
    }

    function item_picture(id){
        layer.open({
            type: 2,
            title: '更换图片',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['800px', '480px'],
            content: '/admin/banner/item_picture?id='+id
        });
    }
</script>
{/block}

