<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    {include file='public/header' /}
    <style type="text/css">
        .box:hover{
            box-shadow: 2px 2px #8a6d3b;
        }
    </style>
</head>
<body style="background-image: url('http://www.tiancloth.com/images/system/bg.jpg');background-repeat: no-repeat;background-size: 100% 100%;">
{include file="public/nav" /}
{include file="public/nav_model" /}
<div class="container" style="position: relative">
    <div class="jumbotron" style="background-color: inherit">
        <h1>Hello, {$user.user_name}!</h1>
        <p>欢迎光临本站。。。</p>
        <div  style="position: absolute;left: 45%;margin-top: -25px" >
            <img src="{$user.avatar_url}" style="width: 120px;height:120px;border-radius: 50%;margin-top: 10px;">
            <span style="cursor: pointer;" data-toggle="modal" data-target="#avatar"><i class="layui-icon layui-icon-edit" style="font-size: 30px; color: #1E9FFF;"></i> </span>
        </div>
        <div class="modal fade " id="avatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel2">修改头像</h4>
                    </div>
                    <div class="modal-body">
                        <iframe src="http://www.tiancloth.com/personal/changeAvatar" frameborder="0" scrolling="no"  style="height: 250px;width: 270px;" ></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="loginClose">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <span style="cursor: pointer" onclick="change()"><i class="layui-icon layui-icon-edit" style="font-size: 30px; color: #1E9FFF;"></i><span style="font-size: 10px;color: #1E9FFF;">修改个人信息</span></span>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">前往购物中心<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a></p>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12" >
            <div align="center" style="cursor: pointer;" onclick="car()">
                <div style="width: 80%;border: 1px solid black;border-radius: 5px;" class="box">
                    <p style="margin-top: 5px;"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="font-size: 50px;"></span></p>
                    <h1 >购物车</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12" style="cursor: pointer;" onclick="order()">
            <div align="center">
                <div style="width: 80%;border: 1px solid black;border-radius: 5px;" class="box">
                    <p style="margin-top: 5px;"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 50px;"></span></p>
                    <h1 >我的订单</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-6 col-sm-12" style="cursor: pointer;" onclick="address()">
            <div align="center">
                <div style="width: 80%;border: 1px solid black;border-radius: 5px;" class="box">
                    <p style="margin-top: 5px;"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 50px;"></span></p>
                    <h1 >我的收货地址</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div align="center" style="cursor: pointer;" onclick="message()">
                <div style="width: 80%;border: 1px solid black;border-radius: 5px;" class="box">
                    <p style="margin-top: 5px;"><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="font-size: 50px;"></span></p>
                    <h1 >我的消息</h1>
                </div>
            </div>
        </div>

    </div>
    <div class="row" style="margin-top: 10px;">
        <!--<div class="col-md-6 col-sm-12">-->
            <!--<div align="center" style="cursor: pointer;" id="integral">-->
                <!--<div style="width: 80%;border: 1px solid black;border-radius: 5px;" class="box">-->
                    <!--<p style="margin-top: 5px;"><span class="glyphicon glyphicon-usd" aria-hidden="true" style="font-size: 50px;"></span></p>-->
                    <!--<h1 >积分:</h1>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="col-md-6 col-sm-12" >
            <div align="center" style="cursor: pointer;;">
                <div style="width: 80%;border: 1px solid black;border-radius: 5px;" class="box">
                    <p style="margin-top: 5px;"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="font-size: 50px;"></span></p>
                    <h1 >正在扩展...</h1>
                </div>
            </div>
        </div>

    </div>
</div>
<script>

    function message(){
        $.get('http://www.tiancloth.com/index/message/auth',{},function(res){
            if(res.status==0){
                layer.msg(res.message,{icon:2});
                return false;
            }else {
                layer.open({
                    type: 2,
                    title: '新消息',
                    shadeClose: true,
                    shade: false,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['80%', '100%'],
                    content:'http://www.tiancloth.com/index/messages'
                });
            }
        },'json')
    }

    function address(){
        $.get('http://www.tiancloth.com/index/user/auth',{},function(res){
            if(res.status==0){
                layer.msg(res.message,{icon:2});
                return false;
            }else {
                window.location.href='http://www.tiancloth.com/index/address';
            }
        },'json')
    }

    function change(){
        layer.tab({
            area: ['800px', '500px'],
            tab: [{
                title: '基本信息',
                content: '<iframe src="http://www.tiancloth.com/personal/changeBase" frameborder="0" scrolling="no" style="width:600px;height: 420px;"></iframe>'
            }, {
                title: '密码',
                content: '<iframe src="http://www.tiancloth.com/personal/changePassword" frameborder="0" scrolling="no" style="width:600px;height: 450px;" ></iframe>'
            }]
        });
    }
</script>
</body>
</html>